@font-face {
  font-family: 'Source Sans Pro';
  src: url('assets/fonts/SansPro/SourceSansPro-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('assets/fonts/SansPro/SourceSansPro-Bold.ttf');
font-weight: 700;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('assets/fonts/SansPro/SourceSansPro-SemiBold.ttf');
font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('assets/fonts/SansPro/SourceSansPro-Regular.ttf');
font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('assets/fonts/SansPro/SourceSansPro-Light.ttf');
font-weight: 300;
}

@font-face {
  font-family: 'DM Sans';
  src: url('assets/fonts/DMSans/DMSans-Bold.ttf');
font-weight: 700;
}

@font-face {
  font-family: 'DM Sans';
  src: url('assets/fonts/DMSans/DMSans-Medium.ttf');
font-weight: 500;
}

@font-face {
  font-family: 'DM Sans';
  src: url('assets/fonts/DMSans/DMSans-Regular.ttf');
/*url('assets/fonts/fonts/circe_bold.ttf') format('truetype'),*/
font-weight: 400;
}
