
*{
  font-family: Source Sans Pro, sans-serif;
  box-sizing: border-box;
  line-height: 1.15;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  background: black;
}
ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none !important;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
img{
  width: auto;
  height: auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;

}
textarea:focus, input:focus{
  outline: none;
}
